*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F2F2;
}
ul,a{
    list-style: none;
    text-decoration: none;
}
.btn{
    border: none;
    padding: 15px 20px;
    background: $blue;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    &:hover{
        background: #fff;
        color: $blue;
        border: 1px solid $blue;
    }
}
.btn-secondary{
    border-radius: 0px;
    background: #fff;
    color: #000;
    letter-spacing: 1.4px;
    font-size: 1rem;
    &:hover{
        border: none;
        color: #000;
        cursor: pointer;
    }
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.txt-bg{
    background: $dark-grey;
    padding: .6rem 0;
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
    h1{
        font-weight: 400;
    }
}