@import './variables';
@import './utility';

header{
    nav{
        .nav-items{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 1rem auto;
            .left-section{
                display: flex;
                align-items: center;
                ul{
                    display: flex;
                    align-items: center;
                    li{
                        margin-left: 2rem;
                        a{
                            color: #000;
                            font-weight: 500;
                            transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
                            &:hover{
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
            .right-section{
                display: flex;
                align-items: center;
                img{
                    cursor: pointer;
                }
                a{
                    margin-left: 1rem;
                }
            }
        }
    }
    
    .search{
        background-color: $blue;
        display: grid;
        align-items: center;
        form{
            padding: .5rem 0;
            input[type='number'], select{
                border: none;
                outline: none;
                padding: 15px 10px;
                margin-right: 2rem;
                width: 17%;
                font-size: 1rem;
            }
        }
    }
    .sticky{
        background-color: $blue;
        display: grid;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        form{
            padding: .5rem 0;
            input[type='number'], select{
                border: none;
                outline: none;
                padding: 15px 10px;
                margin-right: 2rem;
                width: 17%;
                font-size: 1rem;
            }
        }
    }
}

.premium{
    margin: 2rem auto;
    &-houses{
        display: grid;
        grid-auto-flow: column;
        grid-gap: 2rem;
        overflow: scroll;
        // .house{
        //     background: #fff;
        //     position: relative;
        //     box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
        //     margin-bottom: 2rem;
        //     img{
        //         transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
        //         &:hover{
        //             transform: scale(1.05);         
        //         }
        //     }
        //     .price{
        //         position: absolute;
        //         top: 5%;
        //         right: 5%;
        //         p{
        //             background-color: $blue;
        //             display: inline-block;
        //             padding: 10px;
        //             color: #fff;
        //             font-weight: 500;
        //         }
        //     }
        //     .detail{
        //         padding: 1rem 0;
        //         margin-left: 5%;
        //         p:last-child{
        //             margin-top: 1rem;
        //         }
        //     }
        // }
        .house{
            background-color: #fff;
            position: relative;
            box-shadow: 10px 10px 15px rgba($color: #000, $alpha: 0.25);
            margin-bottom: 1.5rem;
            overflow-y: hidden;
            img{
                height: max-content;
            }
            .price{
                position: absolute;
                top: 5%;
                right: 5%;
                p{
                    background-color: $blue;
                    display: inline-block;
                    padding: 10px;
                    color: #fff;
                    font-weight: 500;
                }
            }
            .detail{
                position: absolute;
                width: 100%;
                padding: 1rem 0;
                left: 0;
                background-color: rgba($color: $blue, $alpha: 0.9);
                transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                p{
                    margin-left: 5%;
                    color: #fff;
                }
                p:last-child{
                    margin-top: 1rem;
                }
            }
            &:hover{
                .detail{
                    transform: translateY(-5rem);
                }
            }
        }
    }
}